<!DOCTYPE html>
<html>
  <head>
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <meta name="format-detection" content="telphone=no">
    <link rel='stylesheet' href='/stylesheets/reset.css' />
    <link rel='stylesheet' href='/stylesheets/map.css' />
  </head>
  <body>
    <div id="container"></div>
    <!-- 弹窗 -->
    <div id="popup-win">
      <div class="main">
        <div class="contain-lay">
          <h1>Error!</h1>
          <p id="pop-text"></p>
          <button id="pop-close">我知道了</button>
        </div>
      </div>
    </div>
    <!-- 加载中 -->
    <div id="spinner-win">
      <div class="spinner">
        <div class="spinner-container container1">
          <div class="circle1"></div>
          <div class="circle2"></div>
          <div class="circle3"></div>
          <div class="circle4"></div>
        </div>
        <div class="spinner-container container2">
          <div class="circle1"></div>
          <div class="circle2"></div>
          <div class="circle3"></div>
          <div class="circle4"></div>
        </div>
        <div class="spinner-container container3">
          <div class="circle1"></div>
          <div class="circle2"></div>
          <div class="circle3"></div>
          <div class="circle4"></div>
        </div>
      </div>
    </div>

		<script src="/javascripts/index.js"></script>
    <script src="/javascripts/promise.js"></script>
    <script src="/javascripts/map.js"></script>
    <script charset="utf-8" src="http://map.qq.com/api/js?v=2.exp&key=NIKBZ-OAFRV-EZIPX-UJ5MR-MVEG7-RZFCX"></script>
  </body>
</html>