header {
	line-height: 30px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	text-align: center;
	background: white;
	z-index: 1;
}
header .back {
	position: absolute;
	top: 0;
	left: 0;
	padding: 0 5px;
}
header .map {
	position: absolute;
	top: 0;
	right: 0;
	padding: 0 5px;
}
.container {
	padding-top: 30px;
}
.container .tab-wrapper {
	position: fixed;
	width: 100%;
	top: 30px;
	left: 0;
	z-index: 1;
	background: white;
}
.container .tab-wrapper span {
	display: inline-block;
	width: 49%;
	line-height: 40px;
	text-align: center;
	color: rgba(0, 0, 0, 0.3);
}
.container .tab-wrapper span.active {
	color: black;
}
.container .search-wrapper {
	position: fixed;
	width: 100%;
	top: 70px;
	left: 0;
	z-index: 1;
	background: white;
}
.container .search-wrapper input {
	width: 100%;
	border: 1px solid rgba(0, 0, 0, 0.2);
	box-sizing: border-box;
	padding-left: 5px;
	padding-right: 52px;
	outline: 0;
}
.container .search-wrapper span {
	position: absolute;
	right: 1px;
	top: 1px;
	background: rgba(0, 0, 0, 0.2);
	padding: 0 10px;
	z-index: 1;
}
.container .district-wrapper {
	position: fixed;
	width: 100%;
	top: 100px;
	left: 0;
	z-index: 1;
	background: white;
	text-align: center;
	padding: 3px 0;
}
.container .district-wrapper select {
	width: 32%;
	height: 30px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	box-sizing: border-box;
}
.container .district-wrapper select:first-of-type {
	float: left;
}
.container .district-wrapper select:last-of-type {
	float: right;
}
.container .site-wrapper {
	padding-top: 106px;
}
.container .site-wrapper a {
	color: #333;
}
.container .site-wrapper .entry {
	padding: 5px 10px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
.container .site-wrapper .button-wrapper {
	overflow: hidden;
}
.container .site-wrapper .button-wrapper button {
	width: 20%;
}
.container .site-wrapper .button-wrapper button:first-of-type {
	float: left;
}
.container .site-wrapper .button-wrapper button:last-of-type {
	float: right;
}
.container .new {
	position: fixed;
	bottom: 35px;
	right: 5px;
	display: inline-block;
	width: 40px;
	font-size: 14px;
    line-height: 14px;
	text-align: center;
	color: #333;
	background: white;
	border: 1px solid rgba(0, 0, 0, 0.2);
	padding: 5px 0;
}